<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
<p id="notice"><%= notice %></p>
<div class= "parent">

  
<div class ="div2">
<p>
Company:
  <%= @team.company %>
</p>

<p>
Industry:
  <%= @team.industry %>
</p>

<p> Description:
  <%= @team.description %>
</p>

<% link_to 'Edit', edit_team_path(@team) %> 
<p><%= link_to 'Back', teams_path %></p>
<%= button_to 'Apply', new_request_path , method: :get%>

</div>
</div>