<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @team.company %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @team.industry %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
<%= button_to 'Apply', new_request_path %>
