<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
<p id="notice"><%= notice %></p>

<p>
Company:
  <%= @team.company %>
</p>

<p>
Industry:
  <%= @team.industry %>
</p>

<p> Description:
  <%= @team.description %>
</p>

<% link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
<%= button_to 'Apply', new_request_path , method: :get%>
