
  <body>
  <div class = "welcome-container">
      <div class = "welcome">
        <h2>Welcome to Co-Finder, the best way to find co-founders and build teams!</h2>
      </div>


  </div>


<div class= "login-container" >   
  <div class= "login-form" >   
  <%= form_tag sessions_path do %>


    <h2>Login to see our available teams! </h2>
    
    
    <p><%= label :user, :email %></p>
    <div>
    <p><%= text_field :user, :email %> </p>
    </div>

    <p><%= label :user, :password %></p>
    <div >
    <p><%= password_field :user, :password %></p>
    </div>


    <%= submit_tag "Log In" %>
    <%end%>  
    
    <p><%= link_to 'Sign Up!', new_user_path %></p>
    <p><%= link_to 'Admin login', new_admin_session_path %></p>

  </div>

</div>



</body>

