
  <body>
  <div class = "welcome-container">
      <div class = "welcome">
        <h2>Welcome to Co-Finder, the best way to find co-founders and build teams!</h2>
      </div>


  </div>


<div class= "login-container" >   
  <div class= "login-form" >   
  <%= form_tag admin_session_path do %>


    <h2>Login as an Admin! </h2>
    
    
    <p><%= label :admin, :email %></p>
    <div>
    <p><%= text_field :admin, :email %> </p>
    </div>

    <p><%= label :admin, :password %></p>
    <div >
    <p><%= password_field :admin, :password %></p>
    </div>


    <%= submit_tag "Log In" %>
    <%end%>  
    <%= link_to 'Sign Up as admin', new_admin_path %>
  </div>

</div>


</body>

