<p id="notice"><%= notice %></p>
<div class= "login-container">
  <div class= "login-form">

  <h2>Your Profile</h2>

 <p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<% if @user.avatar.attached? %>
<p><image src="<%=(url_for(@user.avatar))%>" style="max-height:150px;width:200px;"></p>

<%end%>

<p>
  <!-- <strong>Password:</strong> -->
  <% @user.password_digest %>
</p>
<br>
<p><%=link_to 'Log in to see what teams are looking! ', new_session_path %></p>

<p><%= link_to 'Edit Profile', edit_user_path(@user) %> </p>
</div>
</div>


<p><% link_to 'Login', new_session_path %></p>

