<p id="notice"><%= notice %></p>
<div class= "login-container">
  <div class= "login-form">

 <p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<% if @user.avatar.attached? %>
<image src="<%=(url_for(@user.avatar))%>" style="max-height:150px;width:290px;">

<%end%>

<p>
  <!-- <strong>Password:</strong> -->
  <% @user.password_digest %>
</p>
<p><%=link_to 'Log in to see what teams are looking! ', new_session_path %></p>
<p></p>
</div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Login', new_session_path %>
