<p id="notice"><%= notice %></p>
<div class= "answercontainer">
<p>
Your Answer:
  <%= @answer.answer_input %>
</p>

<p>
  Question:
  <%= @answer.question_id %>
</p>

<p>
name:
  <%= @answer.user.name %>
</p>

<%link_to 'Edit', edit_answer_path(@answer) %> 
<p><%= link_to 'See more teams!', teams_path %></p> 

</div>


