<p id="notice"><%= notice %></p>

<p>
  <strong>Your Answer:</strong>
  <%= @answer.answer_input %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question_id %>
</p>

<p>
  <strong>name:</strong>
  <%= @answer.user.name %>
</p>

<%link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'See more teams!', teams_path %> |


