<%= form_tag  "/teams/#{@team_id}/requests"  do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>


    </div>

    

  <% end %>
    <div class= "login-container">
  <div class="login-form">
  
  <label>Name</label>
  <%= text_field_tag :name %><br>
  
  <label>Age</label>
  <%= number_field_tag :age %><br>
  
  <label> Skills</label>
  <%= text_area_tag :skills %>

  <br>
  <%= submit_tag "Submit request" %>
  
  
<% end %>
</div>
</div>