<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= Team.find(@request.team_id).company %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@request.user_id).email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @request.age %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @request.skills %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
<%= button_to '', requests_path %>
