<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @request.team_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @request.question_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @request.age %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @request.skills %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
