<!DOCTYPE html>
<html>
  <head>
    <title>TeamBuilderProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
    <%= "Current user: #{current_user.name}"%> <br>
    <%= link_to 'Log out', sessions_path, method: :delete %>
    <% else %>
    <%= link_to 'Log in', new_session_path%>
    <%end%>

    <% if flash[:notice]%>
    <h4><%= flash[:notcie] %></h4>
    <%end%>
    <%= yield %>
  </body>
</html>
