<!DOCTYPE html>
<html>
  <head>
    <title>TeamBuilderProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
  </head>

  <div class="topnav">
      <a class="active" href="/teams">Home</a>
      
 
      <% if current_user %>
    
   <p><%= "Current user: #{current_user.name}"%></p>
    <%= link_to 'Log out', sessions_path, method: :delete %>
    <% else %>
    <%= link_to 'Log in', new_session_path%>

    <image src="app/assets/images/C0-Finder.png"style="max-height:150px;width:290px;">
    <%end%>

   </div>

   <div class="footer-container">
      <div class="footer">
      
        <p> Made by Louis and Haami 2019 </p>
      </div>
      
      </div>

  <body>
    <% if flash[:notice]%>
    <h4><%= flash[:notcie] %></h4>
    <%end%>
    <%= yield %>
  </body>


</html>

