<!DOCTYPE html>
<html>
  <head>
    <title>TeamBuilderProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
  </head>
<body>
  <div class="page">
  <div class="topnav">
      <a class="active" href="/teams">Home</a>
      
      <% if current_user.class == Admin %> 
      <%= link_to 'My Teams', "/admins/#{session[:admin_id]}/my_teams"%>
      <%end%>
      
      <%if current_user.class == User %>
        <%= link_to 'Lucky Team', "/teams/#{session[:team_ids].sample}"%>
      <%end%>

      <%if current_user.class == Admin %>
        <%= link_to 'Create Team', new_team_path%>
      <%end%>
 
      <% if current_user.class == User %> 
      <p><%= link_to 'Log out', sessions_path, method: :delete %></p>
          <p><%= link_to "#{current_user.name}", "/users/#{session[:user_id]}"%></p>
      <% elsif current_user.class == Admin %>
      <p><%= link_to 'Log out', sessions_path, method: :delete %></p>
          <p><%= link_to "#{current_user.name}", "/admins/#{session[:admin_id]}"%></p>
      <% else %>
          <%= link_to 'Log in', new_session_path%>
      <% end %>

   </div>

  
      
    <% if flash[:notice]%>
    <h4><%= flash[:notcie] %></h4>
    <%end%>
    <%= yield %>
    


  
      <div class="footer">
      
        <p> Made by Louis and Haami 2019 </p>
      </div>
    </div>


    </body>
</html>

